.btn {
    color: rgb(210, 210, 210);
    background-color: transparent;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    max-width: 160px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
    border-width: 0px;
}

.button {
    letter-spacing: 0;
}

.button:hover,
.button:active {
    letter-spacing: 2px;
}

.button:after,
.button:before {
    backface-visibility: hidden;
    border: 1px solid rgb(210, 210, 210, 0);
    bottom: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.button:hover:after,
.button:hover:before {
    backface-visibility: hidden;
    border-color: rgb(210, 210, 210);
    transition: width 350ms ease-in-out;
    width: 70%;
}

.button:hover:before {
    bottom: auto;
    top: 0;
    width: 40%;
}