@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,700;1,100;1,700&display=swap');

body{
  font-family: 'Josefin Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icono{
  width: 1.5rem;
  padding: 0px 1rem;
  cursor: pointer;
}

.navbar{
  display: flex;
  background-color: rgb(27, 27, 27);
  align-items: center;
  justify-content: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: 100%;
  height: 4rem;
  color: rgb(210, 210, 210);
}

.logo{
  font-size: 3rem;
  padding: 0px 3rem;
}

.btn {
  color: rgb(210, 210, 210);
  background-color: transparent;
  cursor: pointer;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  max-width: 160px;
  position: relative;
  width: 100%;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  border-width: 0px;
}

.button {
  letter-spacing: 0;
}

.button:hover,
.button:active {
  letter-spacing: 2px;
}

.button:after,
.button:before {
  backface-visibility: hidden;
  border: 1px solid rgb(210, 210, 210, 0);
  bottom: 0px;
  content: "";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.button:hover:after,
.button:hover:before {
  backface-visibility: hidden;
  border-color: rgb(210, 210, 210);
  transition: width 350ms ease-in-out;
  width: 70%;
}

.button:hover:before {
  bottom: auto;
  top: 0;
  width: 40%;
}

.presentation{
  background-image: url(assets/fondo.JPG);
  background-position: 50% 60%;
  background-size: cover;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.presentation h1{
  font-size: 4rem;
  margin: 0;
  padding-right: 2rem;
  padding-bottom: 1rem;
  color: white;
  text-shadow: -1vmin 0vmin 5px rgb(27, 27, 27);
}

.presentation p{
  font-size: 2rem;
  font-weight: 600;
  padding-right: 2rem;
  margin: 0;
  color: white;
  text-shadow: -4px -2px 3px rgb(27, 27, 27);
}

.itemListContainer{
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.itemDetailContainer{
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  align-items: center;
  justify-content: space-around;
}

.tituloProductos{
  font-size: 2.2rem;
  padding: 3rem 0rem;
  text-transform: uppercase;
  color: #e0dfdc;
  letter-spacing: .1em;
  text-shadow: 
    0 -1px 0 #fff, 
    0 1px 0 #2e2e2e, 
    0 2px 0 #2c2c2c, 
    0 3px 0 #2a2a2a, 
    0 4px 0 #282828, 
    0 5px 0 #262626, 
    0 6px 0 #242424, 
    0 7px 0 #222, 
    0 8px 0 #202020, 
    0 9px 0 #1e1e1e, 
    0 10px 0 #1c1c1c, 
    0 11px 0 #1a1a1a, 
    0 12px 0 #181818, 
    0 13px 0 #161616, 
    0 14px 0 #141414, 
    0 15px 0 #121212, 
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.loading{
  justify-content: center;
  align-items: center;
}

.itemList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.item{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 25%;
  border-radius: 20px;
  background: white;
  position: relative;
  border: 2px solid white;
  transition: 0.5s ease-out;
  overflow: visible;
  color: black;
}

.item h2{
  font-size: 2rem;
}

.item img{
  width: 15rem;
}

.item p{
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(93, 93, 93);
}

.item p span{
  font-weight: lighter;
  font-size: 1rem;
}


.item-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #fe6709;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.text-body {
  color: rgb(93, 93, 93);
}

.item:hover {
  border-color: #fe6709;
  box-shadow: 0 4px 18px 0 #fe5b0975;
}

.item:hover .item-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.itemDetail{
  background-color: white;
  color: #282c34;
  width: 60%;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 3rem;
}

.itemDetail img{
  width: 17rem;
}

.itemDetailDescription{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.itemDetail div h2{
  font-size: 2.3rem;
  margin: 0;
}

.itemDetail div h3{
  font-size: 1.4rem;
  margin: 0;
}

.itemDetail div p{
  font-size: 1.3rem;
}

.itemDetail div p:last-child{
  font-size: 1.1rem;
  color: rgb(93, 93, 93);
}

.itemCount{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80%;
}

.itemCount div{
  padding: 1rem 0;
}

.itemCount div button{
  margin: 0 0.3rem;
}

.spinner {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.spinner span {
  /* position: absolute; */
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: #ffff;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0.55rem 1.25rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.notification{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 4rem;
  width: 12rem;
  font-size: 16px;
  top: 6%;
  left: 85%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  border: solid 3px rgb(23, 86, 8);
  background-color: green;
}

.notificationError{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 4rem;
  width: 12rem;
  font-size: 16px;
  top: 6%;
  left: 87%;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
  background-color: rgb(190, 35, 35);
  border: solid 3px red;

}

.cartWidget{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartWidget p{
  font-weight: 700;
  font-size: 1.2rem;
}

.cartContainer{
  display: flex;
  background-color: rgb(27, 27, 27);
  color: white;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s;
}

.cartItemList{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.cartItem{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70rem;
  background-color: white;
  color: rgb(27, 27, 27);
  border-radius: 1.5rem;
  margin: 0.5rem 0;
  transition: all 0.5s;
}

.cartItem:hover{
  transform: scale(1.02);
}

.cartItem img:first-child{
  width: 5rem;
  padding: 0 2rem; 
}

.cartItem img:last-child{
  width: 2rem;
  padding: 0 1rem;
  cursor: pointer;
}

.cartItem h4{
  font-size: 1.5rem;
  padding: 0 2rem;
  min-width: 20rem;
  text-align: left;
}

.cartItem p{
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: left;
  min-width: 10rem;
}

.emptyCart{
  border-bottom: solid 2px #e0dfdc;
  padding: 1rem;
  color: #e0dfdc;
}

.totalContainer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 70rem;
}

.total{
  border-bottom: solid 3px #e0dfdc;
  color: #e0dfdc;
  margin: 2rem 0;
  font-size: 2rem;
  padding: 0.5rem;
}

.totalQuantity{
  font-size: 1.3rem;
}

.buttonsContainer{
  display: flex;
  width: 35rem;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.orderIdContainer{
  display: flex;
  background-color: rgb(27, 27, 27);
  color: white;
  flex-direction: column;
  min-height: 50vh;
  align-items: center;
  justify-content: space-around;
}

.orderIdContainer p{
  line-height: 2.4rem;
  font-size: 1.5rem;
}

.footer{
  background-color: rgb(27, 27, 27);
  color: white;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tg{
  width: 6rem;
  border: solid 3px white;
  border-radius: 1rem;
}

.btn-checkout {
  --color: #fe6709;
  background-color: transparent;
  display: inline-block;
  width: 9em;
  font-family: 'Josefin Sans', sans-serif;
  height: 2.9em;
  line-height: 2.5em;
  font-weight: 600;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 1.5rem;
  color: var(--color);
  cursor: pointer;
 }
 
 .btn-checkout:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .btn-checkout:hover {
  color: #ffffff;
 }
 
 .btn-checkout:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .btn-checkout:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .btn-checkout:active:before {
  background: #fe6709;
  transition: background 0s;
 }

 .checkout{
  display: flex;
  background-color: rgb(27, 27, 27);
  color: white;
  min-height: 50vh;
  align-items: center;
  justify-content: space-around;
 }

 .checkout form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 25vh;
 }

 .checkout form h2, .checkout form button{
  align-self: center;
 }

 .checkout form button{
  margin-top: 5rem;
 }

 .checkout form div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.4rem 0;
 }

 .checkout form div input{
  padding: 15px;
  min-width: 25rem;
  line-height: 20px;
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
  border: 2px solid transparent;
  border-bottom-color: #fe6709;
  outline: none;
  background-color: transparent;
  transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: white;
  }

 .checkout form div input:hover{
  outline: none;
  border-radius: 1rem;
  border-color: #fe6709;
 }

 .checkout form div input:focus{
  outline: none;
  border-radius: 1rem;
  border-color: #fe6709;
 }

 .checkout form div label{
  font-size: 1.5rem;
  display: block;
  width: 5rem;
  text-align: left;
  margin-right: 2rem;
 }

.footer .botones{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding: 3rem;
  margin: 0 12rem;
}

.footer .botones div{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
}

.footer ul{
  width: 12rem;
  margin: 0;
  padding: 0;
}

.footer ul li{
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.footer ul li button{
  margin: 0;
}
